div {
    margin-top : 20;
    margin-left : 150;
    margin-right : 150;
    border : 4px solid;
    border-color : #1F3D5C;
    border-radius : 10px;
    background-color: #1F3D5C;
    font: 16px Verdana;
    color: #FFFFFF;
}